{% extends 'index.html' %}

{% block content %}
    

    <div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>You don't have permission to do that (403)</h2>
                <h2>Please check your account and try again</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}